In [1]:
from env import get_connection
import os
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeClassifier, plot_tree
from sklearn.metrics import classification_report, confusion_matrix, plot_confusion_matrix
from sklearn.ensemble import RandomForestClassifier
import scipy.stats as stats
from scipy import stats
# turn off pink boxes for demo
import warnings
warnings.filterwarnings("ignore")

# import our own acquire module
import acquire
#import my own prepare module
import prepare

import function

In [2]:
df = acquire.get_telco_data()

In [3]:
df.head()

,Unnamed: 0,payment_type_id,contract_type_id,internet_service_type_id,customer_id,gender,senior_citizen,partner,dependents,tenure,...,tech_support,streaming_tv,streaming_movies,paperless_billing,monthly_charges,total_charges,churn,internet_service_type,contract_type,payment_type
0,0,2,2,1,0002-ORFBO,Female,0,Yes,Yes,9,...,Yes,Yes,No,Yes,65.6,593.3,No,DSL,One year,Mailed check
1,1,2,1,1,0003-MKNFE,Male,0,No,No,9,...,No,No,Yes,No,59.9,542.4,No,DSL,Month-to-month,Mailed check
2,2,1,1,2,0004-TLHLJ,Male,0,No,No,4,...,No,No,No,Yes,73.9,280.85,Yes,Fiber optic,Month-to-month,Electronic check
3,3,1,1,2,0011-IGKFF,Male,1,Yes,No,13,...,No,Yes,Yes,Yes,98.0,1237.85,Yes,Fiber optic,Month-to-month,Electronic check
4,4,2,1,2,0013-EXCHZ,Female,1,Yes,No,3,...,Yes,Yes,No,Yes,83.9,267.4,Yes,Fiber optic,Month-to-month,Mailed check

In [4]:
df = function.telco_churn(df)

In [5]:
df.head()

,tenure,monthly_charges,total_charges,online_security_NA,online_security_Yes,online_backup_NA,online_backup_Yes,device_prot_NA,device_protection_Yes,tech_support_NA,tech_support_Yes,paperless_billing_Yes,churn_Yes,has_fiber,internet_service_type_NA
0,9,65.6,593.3,0,0,0,1,0,0,0,1,1,0,0,0
1,9,59.9,542.4,0,0,0,0,0,0,0,0,0,0,0,0
2,4,73.9,280.85,0,0,0,0,0,1,0,0,1,1,1,0
3,13,98.0,1237.85,0,0,0,1,0,1,0,0,1,1,1,0
4,3,83.9,267.4,0,0,0,0,0,0,0,1,1,1,1,0

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 15 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   tenure                    7043 non-null   int64
 1   monthly_charges           7043 non-null   float64
 2   total_charges             7043 non-null   object
 3   online_security_NA        7043 non-null   uint8
 4   online_security_Yes       7043 non-null   uint8
 5   online_backup_NA          7043 non-null   uint8
 6   online_backup_Yes         7043 non-null   uint8
 7   device_prot_NA            7043 non-null   uint8
 8   device_protection_Yes     7043 non-null   uint8
 9   tech_support_NA           7043 non-null   uint8
 10  tech_support_Yes          7043 non-null   uint8
 11  paperless_billing_Yes     7043 non-null   uint8
 12  churn_Yes                 7043 non-null   uint8
 13  has_fiber                 7043 non-null   uint8
 14  internet_service_type_NA  7043 non-null   uint8
dtypes: float64(1), int64(1), object(1), uint8(12)
memory usage: 247.7+ KB

In [7]:
df = function.cleanup(df)

In [8]:
df.head()

,tenure,monthly_charges,total_charges,online_security_na,online_security_yes,online_backup_na,online_backup_yes,device_prot_na,device_protection_yes,tech_support_na,tech_support_yes,paperless_billing_yes,churn_yes,has_fiber,internet_service_type_na
0,9,65.6,593.30,0,0,0,1,0,0,0,1,1,0,0,0
1,9,59.9,542.40,0,0,0,0,0,0,0,0,0,0,0,0
2,4,73.9,280.85,0,0,0,0,0,1,0,0,1,1,1,0
3,13,98.0,1237.85,0,0,0,1,0,1,0,0,1,1,1,0
4,3,83.9,267.40,0,0,0,0,0,0,0,1,1,1,1,0

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 7032 entries, 0 to 7042
Data columns (total 15 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   tenure                    7032 non-null   int64
 1   monthly_charges           7032 non-null   float64
 2   total_charges             7032 non-null   float64
 3   online_security_na        7032 non-null   uint8
 4   online_security_yes       7032 non-null   uint8
 5   online_backup_na          7032 non-null   uint8
 6   online_backup_yes         7032 non-null   uint8
 7   device_prot_na            7032 non-null   uint8
 8   device_protection_yes     7032 non-null   uint8
 9   tech_support_na           7032 non-null   uint8
 10  tech_support_yes          7032 non-null   uint8
 11  paperless_billing_yes     7032 non-null   uint8
 12  churn_yes                 7032 non-null   uint8
 13  has_fiber                 7032 non-null   uint8
 14  internet_service_type_na  7032 non-null   uint8
dtypes: float64(2), int64(1), uint8(12)
memory usage: 302.2 KB